{% extends 'common.html' %}
{% load static %}

{% block common %}
    {% include 'adminmenu.html' %}
    <br>

    <body class="adhome">
    <table align="center" >
        <tr>
            <th rowspan="5"><img src="{% static 'image/coco_miguel_dante_4k_8k-3840x2160.jpg' %}" width="200" height="200"> </th>
        </tr>
    <tr><th>Name:Patitapaban Rout</th></tr>
    <tr><th>Age:26</th></tr>
    <tr><th>Email Id :bapuji@9999gmail.com</th></tr>
    <tr><th>Mobile no.:7894828220</th></tr>
    </table>
    </body>
{% endblock %}